body, html {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }
body::-webkit-scrollbar{
    width: 8px;
    background: #2C0133;
}
body::-webkit-scrollbar-thumb{
    background: #bd92f1c9;
    border: solid 2px #7148a3dc;
    border-radius: 5px;
}

/* Header   */
#Inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background-image: url('header.jpg');
    background-size: 100%;
    background-position: center;
    border-bottom: solid 7px #2C0133;
}

/* Logo */
.logo {
    height: 50;
}

.logo a {
    color: blanchedalmond;
    font-family:'Cinzel Decorative';
    font-size: 50px;
    font-weight: bold;;
    text-decoration: none;
}

main{
    display: grid;
    grid-template-columns: 10% 115%;
    height: 100vh;
}

/* Barra lateral */
#barraLateral{
    background: #2a0040;
    border-right: solid 7px #2C0133;
    color: white;
    height: 100%;
    width: 100%;
}
#barraLateral img{
    border: solid 1px #2a0040;
    border-radius: 50%;
    width: 80%;
}
#barraLateral ul {
    list-style: none;
    padding: 0px 0px;
    margin: 0px;
    text-align: center;
}
#barraLateral li{
    padding: 30px 15px;
    font-family:'Cinzel Decorative';
    border-bottom: solid #ffffffde 1px;
    transition: 400ms ease;
}
#barraLateral li:hover{
    background: #502468;
}
#barraLateral a {
    text-decoration: none;
    color: white;
}
/* Conetendor General */

#contenedorGeneral{
    width: 78.25%;
    height: 100%;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2c0234;
}
#contenedorGeneral h1 {
    color: white;
    font-family:'Cinzel Decorative';
    font-size: 40px;
}

table{
    background-color: #c7bfbf;
    font-family: 'Noto Sans Mono', monospace;
    margin: 40px 0px;
    width: 70%;
    height: 40%;
    text-align: left;
    border-collapse: collapse;
}

th, td{
    padding: 10px 10px;   
}

#theadCabecera{
    background-color: #4b3d49;
    border-bottom: solid 5px #362c35;
    color: white;
}
#theadPie{
    background-color: #4b3d49;
    border-top: solid 5px #362c35;
    color: white;
}
tr:nth-child(even){
    background-color: #e4dad9;
}
/* Botones */

button{
    background: #47276ddc;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 7px 10px;
    cursor: pointer;
    transition: ease 450ms;
    font-family: 'Noto Sans Mono', monospace;
    font-size: 25px;
    padding: 15px;
    margin-bottom: 15px;
    width: 30%;
}

button:hover{
    background: #7148a3dc;  
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    background-color: #29092a;
    color: white;
    font-family: 'Noto Sans Mono'
}
footer p {
    padding-right: 10px;
    font-size: 18px;
}
footer a {
    text-decoration: none;
    color:white;
    font-size: 18px;
}
